.init{
    position: absolute;
    background-image: url("../../Image/form.jpg");
    width: 100%;
    height: 120vh;
    background-attachment:fixed;   
    background-size: 100%;
    display: grid;   
    margin-top: 0;  
    padding-bottom: 30px;   
}

.title {
    color: white;
    font-size: 40px;    
    margin-top: 10px;
    margin-bottom: 5px;
}

.text1 {
    font-weight: normal;
    color: white; 
    font-size: 20px; 
}

.form {
    background: rgba(0,0,0,.6);     
    max-width: 650px;
    margin: auto;
    padding: 8px 35px;    
    padding-bottom: 30px;
    border-radius: 3px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;    
    width: 100%;
}

.input {
    background: rgba(0,0,0,.6);    
    position: relative;
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px 50px;      
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(230, 37, 37);
    margin-bottom: 10px;    
}

.text {    
    font-weight: normal;
    color: white;
    font-size: 16px;
    position: relative;
    background: rgb(230, 37, 37);
    padding: 5px 70px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid rgb(230, 37, 37);
    text-align: center;    
}

.list {
    background: rgba(0,0,0,.6);
    color: rgb(230, 37, 37);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;    
    border-bottom: 1px solid rgb(230, 37, 37);
    margin-bottom: 10px;
    padding:10px, 50px;
}

.button {    
    color: white;
    font-size: 18px;
    position: relative;
    background: rgb(230, 37, 37);
    padding: 10px 240px;    
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

.button:hover{
    background: rgb(44, 97, 212);
    color: rgb(245, 214, 77);
    transform: translateY(10px);
}

.error {
    color: rgb(245, 214, 77);
    font-size: 16px;
    display: block;
}
