.form{
    background-image: url("../../Image/form.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment:fixed;   
    background-size: 100%;
    display: grid;
    place-items: center;
}

.text1 {
    color: white;
}

.text {
    color: white;
    border: 15px;
    background-color: rgb(243, 63, 63);
}

.button{
    font: 80% sans-serif;/*tipo de fuente*/
    font-weight: 800; /*grosor de la letra*/
    background-color: rgb(243, 63, 63);/*color del fondo*/
    border-radius: 10px; /*crea los bordes curbos*/
    padding: 8px 30px;  /*le da la extencion al boton */
    border: 5px solid white; /*color del border*/
    color: white; /*color de la letra*/
    margin-top: 80px; /*pociciona el boton*/
}

.button:hover {
    background-color: rgb(44, 97, 212);
    border: 5px solid rgb(245, 214, 77);
    color: rgb(245, 214, 77);
}

.error {
    color: red;
}