.Card{        
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 200px;
    height: 300px;
    background: rgb(39, 37, 37);
    box-shadow: 3px 3px 10px; /*le da profundida a los elementos*/ 
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transform: translate(0px);
};

.Card.link {    
    color: white;  
}

.name{
    color: white;
    background-color: rgb(230, 37, 37);
    text-decoration: none;
    width: 140px;
    position: absolute;        
    padding: 10px 23px;
    font-size: 28px; 
    right: 0; 
    border-bottom-left-radius: 10px;  
    font-size: 16px;   
}

.circle{
    background-color: rgb(250, 214, 8);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 15px;
}

.image{
    position: absolute;
    top: 80px;
    left: 24px;
}

.types {
    position: absolute;
    color: black;
    background-color: greenyellow;
    top: 240px;
    padding: 2px 15px;
    border-top-right-radius: 10px;
    font-size: 15px;
}






