.Card{
    
    color: black;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    
    
};

.link{
    text-decoration: none;
    color: red;
}

.na{
    
    color: black;
}