.input {
     
    border: none;      
    height: 60%; 
    margin-top: 6px;
    border-radius: initial;
    border-top-right-radius: 10px;
    
}

.input:hover{
    transform: translateY(10px) ;
}

::placeholder {
    color: rgb(71, 66, 66); 
        
}

.button {
    background:rgb(71, 66, 66);
    color: white;
    border: none;
    padding: 7px 30px;
    border-bottom-left-radius: 10px;    
}

.button:hover{
    background: rgb(250, 214, 8);
    color: rgb(44, 97, 212);
    transform: translateY(10px) ;
}