.paginate{
  margin-top: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.prev {
  width: 50px;  
  cursor: pointer;
  background: rgb(39, 37, 37);  
  border-radius: 5px;
  color: white;
  
}

.prev:hover {
  background: rgb(230, 37, 37);
  transform: translateY(10px);
}
  