.paginate{
  display: flex;
  justify-items: center;
  align-items: center;
}

.prev {
  width: 50px;  
  cursor: pointer;
  background: rgb(39, 37, 37);  
  border-radius: 5px;
  color: white;
  /* outline: none; */
  transition: 0.2s ease-in-out;
}

.prev:hover {
  background: rgb(230, 37, 37);
}
  