.landing {           
    width: 100vw;
    height: 100vh;
    background-image: url("../../Image/Landing.png");    
    background-size: 100%;
    display: flex;
    align-items:center;
    justify-content: center; 
}

.button{
    position: relative;
    border-style: none;
    border-radius: 4px;
    padding: 15px 30px;
    font-weight: bold;
    background-color: rgb(13, 201, 13);
    color: white;
    border: 1px solid rgb(13, 201, 13);
    margin: 10px;
    box-shadow: 1px 1px 20px 8px rgb(13, 201, 13); 
}