.NavBar{    
    display: flex;    
    justify-content: space-around;    
    background-color: rgb(230, 37, 37);
    font-family: 'calibri';
    padding-bottom: 10px; 
    align-items: center;
}

.link{
    color: white;
    background: transparent;
    padding: 10px 0; /*centra los enlaces*/
    text-decoration: none; /*quita las lineas de los links*/
    font-weight: 800;
    width: 12%; /* le da el tamaño del fondo*/
    border-bottom-left-radius: 10px; /*redondea la esquina de abajo lado izquiero */
    border-top-right-radius: 10px; /*redondea la esquina de arriba lado derecho */
    transform: translateY(5px) ;
}

.link:hover {
    width: 12%; /* le da el tamaño del fondo*/
    background: rgb(61, 57, 57); 
    color: rgb(230, 37, 37);
}

.image{
    transform: translateY(5px) ; 
}